body {
    color: #000000;
    font-family: Verdana, Tahoma, Times New Roman;
    font-size: 14px;
    
    background:
        linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
        linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
        linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background-color:#e1ebbd;
    background-size: 128px 128px;
}

/* ==================== Blocks ==================== */

#container {
    background:#f3f2f2;
    border: 2px solid #504747;
    margin: 30px auto;      
    width: 1000px;
    border-radius: 20px;
    min-height: 400px;
}

#header {
    margin: 10px auto;
    min-height: 72px;
    width: 950px;
}

#header-logo {
    background-color: #E1EBBD;
    border-radius: 10px;
    float: left;
    width: 336px;
    height: 70px;
    font-size: 20px;
    text-align: center;
    line-height: 64px;
}

#header-logo a {
    text-decoration: none; 
    color: black;
}

#header-logo a:hover {
    text-decoration: underline;
    color: orangered;
}

#header-menu {
    margin-top: 10px;
    float: right;
    width: 610px;
    height: 50px;
}

#content {
    clear: both;
    margin: 10px auto;
    padding: 10px;
    width: 950px;
    min-height: 300px;
}

#footer {
    clear: both;
    margin: 10px auto;
    width: 950px;
}

#content-left {
    float: left;
    width: 25%;
    background-color: #E1EBBD;
    border-radius: 10px;
    border: 1px solid black;
    min-height: 100%;
    padding: 5px;
    text-align: center;
}

#content-right {
    float: right;
    width: 75%;
    min-height: 100%;
    padding: 10px;
}

#pers-form {
    width: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
}

/* ==================== Menu ==================== */

#header-menu ul {
    font-size: 17px;
    min-height: 50px;
}

#header-menu li {
    text-align: center;
    float: left;    
    padding-left: 5px;
    padding-right: 5px;
}

#header-menu li a {
    display: block;
    text-decoration: none; 
    color: black;
    min-height: 50px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 20px;
}

#header-menu li a:hover {
    background-color: #92BAAC;
}

.a1 {
    line-height: 47px;
}

.a2 {
    padding-top: 4.5px;
}

.menu-active {
    background-color: #92BAAC;
}

/* ==================== Other ==================== */

p {
    padding: 3px;
}

h3 {
    font-size: 15px;
    font-weight: bold;
}

input[type=range] {
    -webkit-appearance: none !important;
    background:white;
    height:10px;
}

input[type=button], 
input[type=submit] {
    padding: 10px;
}

#fast-form select {
    width: 100px;
}

#fast-form option {
    width: 300px;
}

#pers-table {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto;
}

#pers-table th,td {
    padding: 5px;
    text-align: left;
}

#pers-table .td-right {
    text-align: right;
}

.p-thank {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}