body {
    background-color: gainsboro;
    font-family: Verdana, Tahoma, Times New Roman;
    font-size: 12px;
}

/* ==================== Blocks ==================== */

#header {
    background: #ffffff;
    border: 1px solid #504747;
    margin: 2% auto;
    width: 98%;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center; 
}

#content {
    margin: 2% auto;
    width: 98%;
    padding: 1px 10px;
    text-align: center;
}

#footer {
    text-align: center;
}

/* ==================== Other ==================== */

.error-text {
    color: red;
}

a {
    text-decoration: none; 
    color: blue;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: orangered;
}

h1 {
    font-size: 16px;
    font-weight: bold;
}

#login-form {
    text-align: center;
}   

#login-form table {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto;
}

#login-form td {
    padding: 2px;
    text-align: right;
}

input[type=submit] {
    padding: 5px 20px;
}

#db-table table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
    text-align: left;
}

#db-table tr, 
#db-table th, 
#db-table td {
    padding: 5px;
    border: 1px solid black;
} 